body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    background-color: $white;
    color: $main-text-color;
  }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}