body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #757575;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.site-navigation .link,
.contacts .link {
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.address-container .address, .address-container .contacts .link {
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  display: block;
  margin-right: 92px;
  padding: 24px 0 25px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: #2196f3;
}

.logo-second-part {
  color: #000000;
}

.advantages-list .title, .job.title, .team.title, .members-content .title, .clients-title, .card-content .title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: #212121;
}

.hero-container .modal-button, .subscribe-form .submit-button, .modal .submit-button, .filter .modal-button {
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}

.social-nets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-nets .items:not(:last-child) {
  margin-right: 10px;
}

.social-nets .icons {
  width: 20px;
  height: 20px;
}

.social-nets .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  fill: #afb1b8;
  border-radius: 50%;
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-nets .link:hover, .social-nets .link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.subscribe-form .input, .input-wrapper .input {
  width: 358px;
  height: 50px;
  padding: 16px 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form .input:focus, .input-wrapper .input:focus, .subscribe-form .input:active, .input-wrapper .input:active {
  outline: none;
  border-color: #2196f3;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover, .close-button:focus, .close-button:active {
  fill: #2196f3;
}

.close-button .icons {
  width: 11px;
  height: 11px;
}

.checkbox:checked + .custom-checkbox, .checkbox:not(:checked) + .custom-checkbox {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-color: transparent;
  background-image: url("../img/studio/svg/icon-uncheked.svg");
  -webkit-transition: background-color 250ms var(--time-function);
  transition: background-color 250ms var(--time-function);
}

.header {
  position: relative;
}

.header::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #ececec;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-navigation,
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-navigation .items:not(:last-child),
.contacts .items:not(:last-child) {
  margin-right: 50px;
}

.site-navigation .link,
.contacts .link {
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-navigation .link:hover, .site-navigation .link:focus, .site-navigation .link:active,
.contacts .link:hover,
.contacts .link:focus,
.contacts .link:active {
  color: #2196f3;
  fill: #2196f3;
}

.site-navigation .link.active,
.contacts .link.active {
  color: #2196f3;
}

.site-navigation .link.active::after,
.contacts .link.active::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.site-navigation .link {
  position: relative;
  display: block;
  color: #212121;
}

.contacts .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  fill: #757575;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
}

.contacts .link .icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.hero-section {
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/studio/hero/hero-background.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/studio/hero/hero-background.jpg");
}

.hero-container {
  width: 630px;
  height: 100%;
  margin: 0 auto;
  padding: 200px 0;
}

.hero-container .title {
  margin: 0 auto 22px auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-container .modal-button {
  display: block;
  min-width: 200px;
  margin: 0 auto;
  padding: 10px 32px;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages-list .items::before {
  display: block;
  content: "";
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-list .items:not(:last-child) {
  margin-right: 30px;
}

.advantages-list .antenna::before {
  background-image: url("../img/studio/our-advantages/antenna.svg");
}

.advantages-list .clock::before {
  background-image: url("../img/studio/our-advantages/clock.svg");
}

.advantages-list .diagram::before {
  background-image: url("../img/studio/our-advantages/diagram.svg");
}

.advantages-list .astronaut::before {
  background-image: url("../img/studio/our-advantages/astronaut.svg");
}

.advantages-list .title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.143;
  text-align: unset;
  text-transform: uppercase;
}

.advantages-list p {
  height: 75px;
}

.job.section {
  padding: 0 0 94px 0;
}

.job-label {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  padding: 27px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.job-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.job-list .items {
  position: relative;
}

.job-list .items:not(:last-child) {
  margin-right: 30px;
}

.team.section {
  background-color: #f5f4fa;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-list .members {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .members:not(:last-child) {
  margin-right: 30px;
}

.members-content {
  padding: 30px 0;
}

.members-content .title {
  margin: 0 auto 10px auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
}

.members-content p {
  margin: 0 auto 16px auto;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients .icons {
  width: 88px;
  height: 52px;
}

.clients .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: border-color, fill;
  transition-property: border-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .link:hover, .clients .link:focus {
  outline: none;
  border-color: #2196f3;
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 15px;
}

.address-container .logo {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.address-container .logo-second-part {
  color: #ffffff;
}

.address-container .address {
  margin-bottom: 10px;
  font-style: normal;
  color: #ffffff;
}

.address-container .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.address-container .contacts .items:not(:last-child) {
  margin-bottom: 10px;
}

.address-container .contacts .link {
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
}

.address-container .contacts .link:hover, .address-container .contacts .link:focus {
  color: #2196f3;
}

.social-container .text,
.form-container .text {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.143;
  color: #ffffff;
}

.social-container .link {
  background-color: #ffffff1a;
  fill: #ffffff;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe-form .input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form .input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form .input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form .input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form .submit-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 28px;
  min-width: 200px;
}

.subscribe-form .submit-button .icons {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity, visibility, pointer-events;
  transition-property: opacity, visibility, pointer-events;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition-property: opacity, visibility, pointer-events;
  transition-property: opacity, visibility, pointer-events;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -200%);
          transform: translate(-50%, -200%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition-property: opacity, visibility, pointer-events, -webkit-transform;
  transition-property: opacity, visibility, pointer-events, -webkit-transform;
  transition-property: transform, opacity, visibility, pointer-events;
  transition-property: transform, opacity, visibility, pointer-events, -webkit-transform;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  width: 528px;
  height: 580px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition-property: opacity, visibility, pointer-events, -webkit-transform;
  transition-property: opacity, visibility, pointer-events, -webkit-transform;
  transition-property: transform, opacity, visibility, pointer-events;
  transition-property: transform, opacity, visibility, pointer-events, -webkit-transform;
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .title {
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
}

.modal .submit-button {
  display: block;
  margin: 0 auto;
  min-width: 200px;
}

.inputs-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inputs-group .text-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.inputs-group .comment {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  color: #212121;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.inputs-group .comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.inputs-group .comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.inputs-group .comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.inputs-group .comment::placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.inputs-group .comment:active, .inputs-group .comment:focus {
  outline: none;
  border-color: #2196f3;
}

.input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.input-wrapper .icons {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper .input {
  padding: 12px 12px 12px 42px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: #212121;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper .input:active ~ .icons,
.input-wrapper .input:focus ~ .icons {
  outline: none;
  border-color: #2196f3;
  fill: #2196f3;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 11px 0 12px;
  margin-bottom: 30px;
}

.checkbox:checked + .custom-checkbox {
  background-color: #2196f3;
  background-image: url("../img/studio/svg/icon-checked.svg");
  background-origin: border-box;
  border: transparent;
}

.checkbox-text-label {
  color: #2196f3;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter .items:not(:last-child) {
  margin-right: 8px;
}

.filter .modal-button {
  padding: 6px 22px;
  height: 38px;
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .modal-button:hover, .filter .modal-button:focus, .filter .modal-button:active {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.examples .items {
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #ffffff;
}

.examples .items:nth-child(3n) {
  margin-right: 0px;
}

.examples .link {
  display: block;
  color: #757575;
  font-size: 16px;
  line-height: 1.875;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.examples .link:hover, .examples .link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples .link:hover .overlay, .examples .link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.examples .wrapper {
  position: relative;
  overflow: hidden;
}

.examples .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 64px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.556;
  color: #ffffff;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.card-content .title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: unset;
}
/*# sourceMappingURL=main.css.map */