.logo {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: $accent-color;

  &__second-part {
   color: $secondary-text-color;   
  }
}
