.menu-container {
  background-color: $white;
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 0;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin-left: 88px;
  }
  @media screen and (min-width: 1199px) {
    margin-left: 93px;
  }
}