.social-nets {
  display: flex;
  justify-content: center;

  &__items:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    fill: $icons-logo-primary-color;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms $time-function, fill 250ms $time-function;

    &:hover,
    &:focus {
      background-color: $accent-color;
      fill: $white;
    }
  }

  &__icons {
    width: 20px;
    height: 20px;
  }
}
