.header {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #ececec;
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.nav-container {
  display: flex;
  align-items: center;
}

.site-navigation,
.contacts {
  display: flex;

  .items:not(:last-child) {
    margin-right: 50px;
  }

  .link {
    padding-top: 32px;
    padding-bottom: 32px;
    @extend %header-fonts;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $time-function;

    &:hover,
    &:focus,
    &:active {
      color: $accent-color;
      fill: $accent-color;
    }

    &.active {
      color: $accent-color;
      &::after {
        position: absolute;
        left: 0;
        bottom: 0;
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $accent-color;
      }
    }
  }
}

.site-navigation .link {
  position: relative;
  display: block;
  color: $secondary-text-color;
}

.contacts .link {
  display: flex;
  align-items: center;
  color: $main-text-color;
  fill: $main-text-color;
  transition-property: color, fill;

  & .icons {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
}