.hero-section {
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/studio/hero/hero-background.jpg");
}

.hero-container {
  width: 630px;
  height: 100%;
  margin: 0 auto;
  padding: 200px 0;

  & .title {
    margin: 0 auto 22px auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: $white;
  }

  & .modal-button {
    @extend %modal-button;
    display: block;
    min-width: 200px;
    margin: 0 auto;
    padding: 10px 32px;
  }
}