.job {
  &.section {
    padding: 0 0 94px 0;
  }

  &.title {
    @extend %title;
  }

  &-label {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    padding: 27px 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.143;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    background-color: rgba(47, 48, 58, 0.8);
  }
}

.job-list {
  display: flex;

  .items {
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
