.advantages-list {
  @media screen and (min-width: 768px) {
    display: flex;
    @media screen and (max-width: 1199px) {
      flex-wrap: wrap;
      margin: -15px;
    }
  }

  &__items {
    &::before {
      display: block;
      content: "";
      margin-bottom: 30px;
      height: 120px;
      border-radius: 4px;
      background-color: $secondary-background-color;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
      @media screen and (min-width: 1200px) {
        margin-right: 30px;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin: 15px;
      flex-basis: calc((100% - 2 * 30px) / 2);
    }
  }

  &__title {
    @extend %title;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.142;
    text-transform: uppercase;
  }

  &__description {
    @media screen and (max-width: 767px) {
      height: 50px;
    }
    @media screen and (min-width: 1200px) {
      height: 75px;
    }
  }
}
.antenna::before {
  background-image: url("../../img/studio/our-advantages/antenna.svg");
}

.clock::before {
  background-image: url("../../img/studio/our-advantages/clock.svg");
}

.diagram::before {
  background-image: url("../../img/studio/our-advantages/diagram.svg");
}

.astronaut::before {
  background-image: url("../../img/studio/our-advantages/astronaut.svg");
}
