.job-title {
  @extend %title;
}

.job-list {
  display: flex;
  justify-content: space-between;

  &__items {
    position: relative;
    flex-basis: calc((100% - 30px * 2) / 3);
  }

  &__label {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 27px 0;
    font-weight: 700;
    line-height: 1.143;
    text-align: center;
    text-transform: uppercase;
    color:$white;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
