.team-title {
  @extend %title;

  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.179;
  }
}

.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    margin: -15px;
    @media screen and (max-width: 1199px) {
      flex-wrap: wrap;
    }
  }

  &__members {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin: 15px;
      flex-basis: calc((100% - 2 * 30px) / 2);
    }
    background-color: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__members:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }

  &__photo {
    max-width: 100%;
    height: auto;
  }

  &-content {
    padding: 30px 0 24px 0;
    @media screen and (min-width: 1200px) {
      padding: 30px 0;
    }

    &__title {
      @extend %title;
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 1.188;
    }

    &__description {
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 1.188;
      text-align: center;
    }
  }
}
